/*Fonts*/
@font-face {
    font-family: 'BowlbyOne';
    src: url('../fonts/BowlbyOne-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans_Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/*Properties*/
:root {
    --light-primary:#FFFAF3;
    --light-secondary:#EBE7E0;
    --dark-primary:#1A1A1A;
    --dark-secondary:#424242;
    --accent-dark:#0f31aa;
    --accent-med-dark:#2349cd;
    --accent-medium:#5174ed;
    --accent-med-light:#7e99f6;
    --accent-light:#b9c9ff;

    --background-color:var(--light-primary);
    --foreground-color:var(--dark-primary);

    --font-sans-serif: 'DM Sans', Helvetica, Arial, sans-serif;
    --font-bold: 'BowlbyOne', var(--font-sans-serif);

    --rhythm: 1.5rem;

    --nav-height: 6rem;
    --menu-icon-color: var(--light-primary);
    --nav-background: var(--accent-dark);
    --nav-width: 300px;
}

/*Base*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-sans-serif);
    font-size: 130%;
    line-height: 1.5;
    margin: 0;
    margin-top: 8rem;
    padding: 0;
    padding-bottom: 4rem;
}

html, body {
    margin: 0;
    padding: 0;
}

li::marker {
    color: var(--accent-medium);
}

main {
    padding: 8rem 1rem 4rem;
}

p + video {
    margin-top:0.5rem;
    margin-bottom: 2rem;
}

section.case-study {
    background-color: var(--accent-medium);
    border-radius: 10px;
    color: var(--light-primary);
    padding: 2rem;
}

.section-divider {
    border: none;
    border-top: 2px solid var(--accent-medium);
    width: 100%;
    margin: 2rem auto;
}

.item-divider {
    border: none;
    border-top: 2px solid var(--accent-light);
    width: 100%;
    margin: 2rem auto;
}

.case-study h1, .case-study h2, .case-study h3, .case-study p {
    color: var(--light-primary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px;
}

section {
    margin-bottom: var(--rhythm);
}

.section-container {
    border: none;
    border-top: 2px solid var(--accent-medium);
    width: 80%;
    margin: 2rem auto;
}

/*Header*/
header {
    align-items: center;
    background-color: var(--accent-dark);
    color: var(--light-primary);
    display: flex;
    height: var(--nav-height);
    justify-content: space-between;
    left: 0;
    padding: 0 1.5rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

header h1, header h2 {
    color: var(--light-primary);
    padding: 0;
}

.header-text a {
    color: var(--light-primary);
    font-family: var(--font-bold);
    font-size: 36px;
    text-decoration: none;
}

.header-text a:focus,
.header-text a:visited {
    color: var(--light-primary);
    text-decoration: none;
}

/*Footer*/
footer {
    background-color: var(--accent-dark);
    color: var(--light-primary);
    margin: 0;
    padding: 1rem;
    text-align: center;
    width: 100vw;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}


/*Typography*/
a {
    color: var(--accent-med-dark);
}

b {
    color: var(--accent-med-dark);
    font-weight: bold;
}

h1, h2, h3 {
    font-family: var(--font-bold);
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
}

h1 {
    color: var(--accent-dark);
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 43px;
    margin-top: 2rem;
}

h2 {
    color: var(--accent-med-dark);
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 34px;
    margin-top: 2rem;
}

h3 {
    color: var(--accent-medium);
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 2rem;
}

h3 + h1 {
    margin-top: 0.5rem;
}

p {
    color: var(--dark-primary);
    font-family: var(--font-sans-serif);
    font-size: 100%;
    margin: 0 0 1.5rem 0;
}

ul li {
    margin-bottom: 0.5rem;
}

/*Button*/
.button-link {
    background-color: var(--accent-dark);
    border-radius: 10px;
    color: var(--light-primary);
    cursor: pointer;
    display: block;
    font-family: var(--font-sans-serif);
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

/*Images*/
img {
    border: 5px solid var(--accent-dark);
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0.5rem auto;
}

/*Videos*/
video {
    border: 5px solid var(--accent-dark);
    border-radius: 10px;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 1rem auto;
  }

.video-app {
    border-radius: 40px;
}
  
/* Navigation */
nav {
    align-items: center;
    background: var(--nav-background);
    height: 100vh;
    justify-content: space-between;
    margin-top: var(--nav-height);
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.3s ease-in-out;
    width: var(--nav-width);
    z-index: 999;
}

nav li a {
    color: var(--light-primary);
    display: block;
    font-family: var(--font-sans-serif);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    top: var(--nav-height);
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 998;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 36px; 
    position: relative;
    z-index: 1001;
}

.nav-toggle-label span {
    background-color: var(--menu-icon-color);
    border-radius: 10px;
    display: block;
    height: 4px;
    position: absolute;
    width: 100%;
}

.nav-toggle-label span:nth-child(1) { 
    top: 6px; 
}

.nav-toggle-label span:nth-child(2) { 
    top: 14px; 
}

.nav-toggle-label span:nth-child(3) { 
    top: 22px; 
}

.nav-toggle:checked ~ .nav-backdrop {
    opacity: 1;
    visibility: visible;
}

.nav-toggle:checked ~ nav {
    right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    top: 12px;
    transform: rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    display: none;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    top: 12px;
    transform: rotate(-45deg);
}